<!DOCTYPE html>
<html>
<head>
    <title>Fire Prediction Result</title>
</head>
<body style="background-image: url('https://img.freepik.com/premium-photo/forest-fire-with-trees-fire-generative-ai_438099-11271.jpg'); background-size: cover; color: aliceblue;">
    <div style="padding-left: 35%; padding-top: 15%;">
        <h1 style="padding-left: 0%;">Predicted result of fire extention:</h1>
        <div style="padding-right: 40%;">
            <p style="font-size: xx-large;padding-left: 15%">{{ result }}</p>
        </div>
        <div style="padding-left: 20%;">
            <form action="/" method="get">
                <input type="submit" value="Go Back">
            </form>
        </div>
    </div>
</body>
</html>
